{% extends 'base.html' %}

{% block title %}
    词典库
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="{{ url_for('entity') }}">实体表</a></li>
                    <li class="active"><a href="{{ url_for('relation') }}">关系表 <span class="sr-only">(current)</span></a></li>
                    <li class="disabled"><a href="#">信息表</a></li>
                    <li class="disabled"><a href="#">知识表</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Category</th>
                                <th>Token</th>
                                <th>Synonym</th>
                                <th>Norm Token</th>
                                <th>POS</th>
                                <th>Extra</th>
                                <th>Modify</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in relation.items %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.category }}</td>
                                    <td>{{ item.token }}</td>
                                    <td>{{ item.synonym }}</td>
                                    <td>{{ item.norm_token }}</td>
                                    <td>{{ item.pos }}</td>
                                    <td>{{ item.extra }}</td>
                                    <td>update</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pager">
                            {% if relation.has_prev %}
                            <li class="previous"><a href="{{ url_for('relation', page = entity.prev_num) }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 前页</a></li>
                            {% else %}
                            <li class="previous disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 前页</a></li>
                            {% endif %}
                            {% if relation.has_next %}
                            <li class="next"><a href="{{ url_for('relation', page = entity.next_num) }}">后页 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                            {% else %}
                            <li class="next disabled"><a href="#">后页 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}